@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.header{
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	align-items: center;
	background: #1D3D59;
	width: 100vw;
	height: 100px;
	color: white;
}

.dpi-logo {
	max-height: 80%;
	padding: 1rem;
	-webkit-filter: invert(100%);
	filter: invert(100%);
}

.variables-table {
	width: 95%;
	margin: auto;
	padding: 1rem;
}

.precip-chart {
	flex: 49%;
	padding: 1rem;
}


.precip-and-table {
	display: flex;
	flex-wrap: wrap;
}

.fieldwork-table {
	flex: 49%;
	padding: 1rem;
}

.fieldwork-table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.fieldwork-table tr:hover {
	background: #d3d3d3;
}

.fieldwork-table th {
	padding: 10px;
	background: #1D3D59;
	color: white;
	text-align: center;
	font-weight: bold;
}

.fieldwork-table td {
	padding: 0.5rem;
}


.footer {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	background: #1D3D59;
	width: 100vw;
	margin-top: 4rem;
	height: 60px;
	bottom: 0;
}

.footer h3, h4 {
	color: white;
}


