.navbar{
    position: fixed;
    background: white;
    overflow: scroll;
}

.navButton {
    background-color: white;
    width: 100%;
    font-weight: bold;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.navButton:hover {
    color: #28313b;
    cursor: pointer;
}

.navlist{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.navitem {
    width: 100%;
    border: none;
    color: black;
    padding: 15px 32px;
    margin-left: 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.navitem:hover {
    color: #28313b;
    margin-left: 15px;
    cursor: pointer;
}

.navimg{
    margin: 0.5rem 0.5rem 0.5rem 1rem;
    height: 1.2rem;
}

/* Small Screens */
@media only screen and (max-width: 800px){
    .navbar{
        bottom: 0;
        width: 100vw;
        height: 3rem;
        z-index: 10;
    }
    span{
        display: none;
    }
    .navlist{
        align-items: center;
        flex-direction: row;
    }

    .navitem{
        height: 100%;
        justify-content: center;
    }
}

/* Large Screens */
@media only screen and (min-width: 800px){
    .navbar{
        width: var(--nav-size);
        top: 0;
        height: 100vh;
    }
    .navitem{
        width: 100%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

