:root {
    font-size: 16px;
    font-family: 'Open Sans', serif;
    --text-primary: #FCDAB7;
    --text-secondary: #ececec;

    --bg-primary: #f4f4f4;
    background: var(--bg-primary);

    --bg-nav-primary: #28313b;
    --bg-nav-secondary: #485561;
    --nav-size: 10rem;

    --bg-card-primary: #FCDAB7;

    --transition-speed: 0.25s;
}