@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

:root {
	--div-min-width: 1000px;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background: #f4f4f4;
	min-width: var(--div-min-width);
}

.main-content {
	margin: 2rem;
	margin-top: 0rem;
}

.header{
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	align-items: center;
	width: 100vw;
	height: 120px;
	color: #002664;
	min-width: var(--div-min-width);
}

.dpi-logo {
	max-height: 80%;
	padding: 1rem;
}

input { display: none; }
input + label { display: inline-block; }

input ~ .tab { display: none; }
#tab1:checked ~ .tab.chart-view,
#tab2:checked ~ .tab.indepth-view { display: block; }

input + label {
	border: 1px solid #002664;
	background: #002664;
	color: #fff;
	padding: 4px 12px;
	border-radius: 4px 4px 0 0;
	position: relative;
	top: 1px;
}
input:checked + label {
	background: #FFF;
	color: #000;
	border-bottom: 1px solid transparent;
}
input ~ .tab {
	border-top: 1px solid #999;
	padding: 12px;
}

label:hover {
	cursor: pointer;
	opacity: 80%;
}

input ~ .tab { display: none; }
#tab1-temp:checked ~ .tab.temp-chart-view,
#tab2-temp:checked ~ .tab.temp-indepth-view { display: block; }

.variables-table {
	padding: 1rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 1rem;
	background: #fff;
}

input ~ .tab { display: none; }
#tab1-precip:checked ~ .tab.weekly-view,
#tab2-precip:checked ~ .tab.yearly-view { display: block; }

.precip-chart {
	flex: 45%;
	padding: 1rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 1rem;
	background: #fff;
}


.precip-and-table {
	display: flex;
	flex-wrap: wrap;
}

input ~ .tab { display: none; }
#tab1-flow:checked ~ .tab.weekly-view-flow,
#tab2-flow:checked ~ .tab.yearly-view-flow { display: block; }

.fieldwork-table {
	flex: 46%;
	padding: 1rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 1rem;
}

.fieldwork-table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.fieldwork-table tr:hover {
	background: #d3d3d3;
}

.fieldwork-table th {
	padding: 10px;
	background: #1D3D59;
	color: white;
	text-align: center;
	font-weight: bold;
}

.fieldwork-table td {
	padding: 0.5rem;
}

.funding-source {
	color: #002664;
	text-align: center;
}

.footer {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	align-items: center;
	width: 100vw;
	min-width: var(--div-min-width);
	background: #333;
	margin-top: 2rem;
	height: 60px;
	bottom: 0;
}

.footer h3, h4 {
	color: white;
}

